h2{
    text-align: center;
    color: rgb(5, 5, 5);
    font-family: Tahoma, Helvetica, sans-serif ;
    font-size: 60px;

}
img {
    border-radius: 50px;

  }
#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
 legend.experiencia{
     color: rgb(10, 10, 10);
     font-weight: bold;   
     font-size: 30px;
 }

 legend.biografia{
    color: rgb(2, 2, 2);
    font-weight: bold; 
    font-size: 30px;   
    
}
legend.DatosA{
    color: rgb(2, 2, 2);
    font-weight: bold; 
    font-size: 30px;   
    
}
legend.Contactos{
    color: rgb(2, 2, 2);
    font-weight: bold; 
    font-size: 30px;   
    
}
legend.Idiomas{
    color: rgb(2, 2, 2);
    font-weight: bold; 
    font-size: 30px;   
    
}
body.inicio{
   background-color: rgb(238, 185, 10);
}
 
body.Contactos{
    background-color: rgb(108, 103, 117);
 }

 
 

 